chromadb==0.5.5
langchain==0.2.12
langchain-chroma==0.1.0
langchain-community==0.2.11
langchain-core==0.2.29
langchain-huggingface==0.0.3
langchain-openai==0.1.21
langchainhub==0.1.20
streamlit==1.37.0
streamlit_mic_recorder==0.0.8